.imageSlides {
    display: none
  }
   
  img {
    margin: auto;
    display: block;
    width: 100%;
  }
   
  /* Our main images-slideshow container */
  .images-slideshow {
    grid-column: 7 / 12;
    grid-row: 4 / 7;
    max-width: 1200px;
    position: relative;
    box-shadow: 5px 10px 18px rgba(113, 113, 113, 0.5);
    align-self: center;
  }
   
  /*Style for ">" next and "<" previous buttons */
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: #222;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: transparent;
    border-radius: 50%;
  }

  /* setting the position of the previous button towards left */
  .previous {
    left: -5%;
  }
   /* setting the position of the next button towards right */
  .next {
    right: -5%;
  }
   
  /* On hover, adding a background color */
  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media only screen and (max-width: 767px) {
    .images-slideshow {
      grid-column: 1 / 4;
      grid-row: 10 / 11;
    }
    .previous {
      left: 5%;
    }
    .next {
      right: 5%;
    }
  }